.Entrada{
    width: 150px; height: 23px; 
    background-color: rgb(255, 255, 255); 
    border: 1px solid white; 
    border-radius: 1em;
    text-align: left;
 }

 .EntradaII{
    width: 150px; height: 23px; 
    background-color: rgb(255, 255, 255); 
    border: 1px solid white; 
    border-radius: 1em;
    text-align: right;
 }


 .EntradaIII{
    font-size: 80px;
    width: 82%;
    padding: 10px;
    border: none;
 }


.button_p{    
    border-color: #999;
    width: 100%;
    color: #999;
    font-size: 20px;
    background:  #ffffff;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;        
}